<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!--Welcome to {{ title }}!-->
    Wheather Dashboard
  </h1>

</div>

<form class="form-inline   ">
 
    <div class="row ">
        <div class="col-sm-8 align-self-center">
          
            <div class="col">
                <div *ngIf="chart">
                    <canvas  id="canvas">{{chart}}</canvas>
                  </div>
                           
          </div>
          
          </div>
        <div class="col-sm-4"> 
            <div class="col">
        
                <!-- Large button groups (default and split) -->
                               <p class="text-left">City</p>
                             <div class="btn-group">
                                     
                                      <select class="  btn-success btn-lg  " type="button" name="select" [(ngModel)]="SelectedCourse" (change)="Filter($event.target.value)" >
                                        <option  *ngFor="let item of list"  >  {{item}} 
                                         
                                        </option>
                                      </select>
                               
                                   
                                  
                               </div>
 
                               <p class="text-left">Scale</p>
                               <div class="btn-group">
                                       <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Celsius
                                   </button>
                                   <div class="dropdown-menu">
                                       <a class="dropdown-item" href="#">Navojoa</a>
                                   </div>
                                 </div>
 
                                    
                                 <p class="text-left">Date</p>
                                 <div class="form-group"> <!-- Date input -->
                                
                                   <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                                 </div>
                                 <br/>
 
                                 
                     
                     <table class="table">
                         <thead>
                           <tr>
                             <th scope="col">Date</th>
                             <th scope="col">Temperature Min</th>
                             <th scope="col">Temperature Max</th>
                           
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th scope="row">1</th>
                             <td></td>
                             <td>Mark</td>
                             
                           </tr>
                           <tr>
                             <th scope="row">2</th>
                             <td>Jacob</td>
                             <td>Mark</td>
                            
                           </tr>
                           <tr>
                             <th scope="row">3</th>
                             <td>Larry</td>
                             <td>Mark</td>
                            
                           </tr>
                         </tbody>
                       </table>
                       
                                 
               </div>

        </div>
      </div>
 




      <div class="container">
           
         

          <div class="row">
              
             
          </div>
        </div>



 



        
  
 


  
</form>



