<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!--Welcome to {{ title }}!-->
    Wheather Dashboard
  </h1>

</div>

<form class="form-inline ">
    
      <div class="container">
         
          <div class="row">
            
            <div class="col">
            aqui va la grafica
            </div>
              <div class="col">
        
               <!-- Large button groups (default and split) -->
                              <p class="text-left">City</p>
                            <div class="btn-group">
                                    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                       Obregón
                                </button>
                                <div class="dropdown-menu">
                                    
                                    <a class="dropdown-item" href="#">Navojoa</a>
                                    <a class="dropdown-item" href="#">Hermosillo</a>
                                    <a class="dropdown-item" href="#">Nogales</a>
                                </div>
                              </div>

                              <p class="text-left">Scale</p>
                              <div class="btn-group">
                                      <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Celsius
                                  </button>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" href="#">Farenheit</a>
                                  </div>
                                </div>

                                   
                                <p class="text-left">Date</p>
                                <div class="form-group"> <!-- Date input -->
                               
                                  <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                                </div>
                                <br/>
                    
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Temperature</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                           
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                           
                          </tr>
                        </tbody>
                      </table>
                      
                                
              </div>
          </div>
        </div>



 



        
  
 


  
</form>



