<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!--Welcome to {{ title }}!-->
    Wheather Dashboard
  </h1>

</div>

<form class="form-inline"  (loaded)="Filter($event.target.value)"   >
    <div   class="alert alert-success" role="alert"   *ngFor="  let item of alerta;">{{item}}</div>
    <div class="row ">
        <div class="col-sm-8 ">
          
            <div class="col">
                <div *ngIf="chart">
                    <canvas  id="canvas">{{chart}}</canvas>
                  </div>
                           
          </div>
          
          </div>
        <div class="col-sm-4"> 
            <div class="col">
        
                <!-- Large button groups (default and split) -->
              
                               <p class="text-left">City</p>
                              
                             <div class="btn-group">

                                <!-- <select class="  btn-success btn-lg  " type="button" name="select" [(ngModel)]="SelectedCourse" (click)="updateId(result.ciudadcodigo)" >
                                    <option  *ngFor="let result of jsonList"  >  {{result.ciudadcodigo}}  -->
                                     
                                       <select class="  btn-success btn-lg  " type="button" name="select" [(ngModel)]="SelectedCourse" (change)="Filter($event.target.value)" ng-reflect-model="4013704" >
                                          <option value="4013704" selected="selected">Ciudad Obregón</option>
                                        <option  *ngFor="let item of cities" value="{{item.codigo}}" >{{item.ciudad}}</option>
                                      </select>
                               
                                   
                                  
                               </div>
 
                               <p class="text-left">Scale</p>
                               <div class="btn-group">
                                  <select class="  btn-success btn-lg  " type="button" name="select" [(ngModel)]="SelectedCourse"  (click)="updateId(result.ciudadcodigo, result.unidad)" >
                                      <option *ngFor="let result of jsonList"  >  {{result.unidad}} 
                                       
                                      </option>
                                    </select>
                                 </div>
 
                                    
                                 <p class="text-left">Date</p>
                                 <div class="form-group"> <!-- Date input -->
                                
                                   <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                                 </div>
                                 <br/>
 
                                 
                     
                     <table class="table">
                         <thead>
                           <tr>
                             <th scope="col">Date</th>
                             
                             <th scope="col">Temperature max</th>
                             <th scope="col">Temperature min</th>
                           
                           </tr>
                         </thead>
                         <tbody>
                           
                           <tr *ngFor="  let item of maxima;">
                             <th  scope="row">{{item.datetime}}</th>
                             
                             <td   >  {{item.max_temp}}  </td> 
                             <td   >  {{item.min_temp}}  </td> 
                              </tr>
                               
 
                           <tr>
                           </tr>
                           <tr>
                              
                            
                           </tr>
                         </tbody>
                       </table>
                       
                                 
               </div>

        </div>
      </div>
 

 
 


  
</form>



